* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  //   background: linear-gradient(60deg, rgb(255, 191, 73), rgb(255, 166, 0));
  background: rgb(255, 166, 0);
}
